@media only screen and (max-width: 850px)
    .infos
        display: flex
        flex-direction: column
        align-items: center
    
    .categoria-perfil, .categoria-form
        margin-top: 1.7rem

    .dados, .dados-escritos
        margin-top: 1rem

    .enviar-imagem
        margin-top: 1rem

    .biografia-especial
        min-width: 20vw
        margin: 1rem 0 0 0

    .biografia-form
        width: 154px
        text-align: center

    textarea
        min-width: 20vw
    
@media only screen and (max-width: 550px)
    // .App
    //     display: flex
    //     justify-content: center
    //     gap: 40px

    .infos
        display: flex
        flex-direction: column

    .enviar-imagem
        margin: 1rem 0 0 0

    .categoria
        margin-top: 1.5rem

    .dados, .dados-especial
        width: 7rem
        margin: 1rem 0 0

    .dados-especial, .dados
        justify-content: center

    .biografia-perfil
        text-align: center
        margin-top: 1.7rem

    .biografia-form
        text-align: center

    .biografia-especial
        margin: 1rem 0 0 0
        width: 31vw

    .dados-escritos
        width: 7rem
        margin: 1rem 0 0 0rem

    .container-error
        margin: 42.5vh 0 0 3.5vw
        width: 9rem
        

@media only screen and (max-width: 450px)
    // .App
    //     display: flex
    //     justify-content: center
    //     gap: 15px

    .titulo-perfil
        margin-bottom: 0

    .img-degrade, .img, img
        height: 5rem
        width: 5rem

    .categoria-especial
        margin-top: 1rem

    .dados-escritos
        width: 6rem

    .dados, .dados-especial
        width: 5.5rem
        margin: 1rem 0 0

    .container-error
        margin: 16.5rem 0 0 2.5vw
        width: 9rem

    textarea
        min-height: 16vw
        margin-top: 1rem