@use '../../variables'

input
    margin-top: 2.5rem
    height: 1.8rem

textarea
    height: 30vw
    width: 30vw
    margin-top: 0.5rem 
    
input[type='submit']
    cursor: pointer
    height: 4vh
    width: 15vw
    background: variables.$gradient
    border: none
    border-radius: 5px
    color: #fff
    transition: transform .5s

    &:hover
        transform: scale(1.1)