@use '../../variables'
    
.inicio
    margin-bottom: -1.2rem

.img-degrade 
    height: 8rem
    width: 8rem
    background: variables.$gradient
    border: 5px solid transparent
    border-radius: 50%
    transition: transform .5s
    margin-bottom: 1rem

    &:hover
        transform: scale(1.1)

.img, img
    height: 8rem
    width: 8rem
    background-color: #1d1d1d
    position: relative
    border-radius: 50%

.infos
    display: grid
    grid-template-columns: 10vw 20vw
    min-height: 67vh
    justify-content: center

.categoria
   margin-top: 3rem

.dados
    display: flex
    align-items: center
    padding-left: 0.5rem
    background-color: #1d1d1d
    margin-top: 2.5rem
    height: 2rem

.biografia-perfil
    width: 100%
    height: 10%
    text-align: left
    margin-top: 1.5rem

.especial
    display: flex
    align-items: center
    text-align: left
    padding-left: 0.5rem
    background-color: #1d1d1d
    min-height: 10vw
    min-width: 30vw
    margin-top: 3rem
    margin-left: -10vw